# VacationPy
----

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
csv_file = "output_data/cities.csv"
weather_df = pd.read_csv(csv_file)
weather_df.head()

,city,country,date,cloudiness,humidity,latitude,longitude,temperature,wind speed
0,São Filipe,CV,1586388671,0,61,14.90,-24.50,77.29,14.07
1,Rikitea,PF,1586388671,80,80,-23.12,-134.97,76.62,9.46
2,Broken Hill,AU,1586388670,0,67,-31.95,141.43,57.20,8.05
3,Tuktoyaktuk,CA,1586388672,20,72,69.45,-133.04,10.40,10.29
4,Bathsheba,BB,1586388672,40,69,13.22,-59.52,80.60,12.75

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [15]:
locations = weather_df[["latitude", "longitude"]]
humidity = weather_df["humidity"]

fig = gmaps.figure(center=(50, -15), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=50, 
                                 point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
# Narrow down the cities as follows:
# Temperature 20-30 F
# Cloudiness less than 10%

new_weather_df = weather_df.loc[(weather_df["temperature"]>=20) & (weather_df["temperature"]<=30)
                               & (weather_df["cloudiness"]<10)]
new_weather_df = new_weather_df.reset_index(drop=True)
new_weather_df

,city,country,date,cloudiness,humidity,latitude,longitude,temperature,wind speed
0,Tasiilaq,GL,1586388672,2,73,65.61,-37.64,24.80,6.93
1,Husavik,IS,1586388688,1,79,66.04,-17.34,21.20,12.75
2,Ekhabi,RU,1586388699,1,96,53.51,142.97,29.64,14.63
3,Cap-aux-Meules,CA,1586388708,5,58,47.38,-61.86,26.60,2.24
4,Sisimiut,GL,1586388750,0,87,66.94,-53.67,20.70,7.43
5,Tupik,RU,1586388759,5,78,54.43,119.93,28.60,0.81

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [17]:
# Create hotel_df and add column "Hotel Name"
hotel_df = pd.DataFrame(new_weather_df, columns=["city", "country", "latitude", "longitude"])
hotel_df["hotel name"] = ""
hotel_df

             city country  latitude  longitude hotel name
0        Tasiilaq      GL     65.61     -37.64
1         Husavik      IS     66.04     -17.34
2          Ekhabi      RU     53.51     142.97
3  Cap-aux-Meules      CA     47.38     -61.86
4        Sisimiut      GL     66.94     -53.67
5           Tupik      RU     54.43     119.93

In [18]:
# Set parameters
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "radius": 5000,
    "type": "hotel",
    "keyword": "hotel",
    "key": g_key,
}

# Store the first hotel result 
hotel_name = []
for index, row in hotel_df.iterrows():
    lat = row["latitude"]
    lng = row["longitude"]

    params["location"] = f"{lat},{lng}"

    response = requests.get(base_url, params=params).json()
    
    results = response['results']
    
    try:
        hotel_name.append(results[0]['name'])
    except (IndexError, KeyError):
        hotel_name.append("n/a")
        
hotel_name

['Hotel Angmagssalik',
 'Arbol',
 'n/a',
 "Motel L'Archipel Inc",
 'Hotel Sisimiut',
 'n/a']

In [19]:
# Get new hotel dataframe with hotel name and drop the row without hotel
hotel_df["hotel name"] = hotel_name

new_hotel_df = hotel_df.loc[hotel_df["hotel name"] != 'n/a']

new_hotel_df = new_hotel_df.reset_index(drop=True)

new_hotel_df

             city country  latitude  longitude            hotel name
0        Tasiilaq      GL     65.61     -37.64    Hotel Angmagssalik
1         Husavik      IS     66.04     -17.34                 Arbol
2  Cap-aux-Meules      CA     47.38     -61.86  Motel L'Archipel Inc
3        Sisimiut      GL     66.94     -53.67        Hotel Sisimiut

In [20]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{hotel name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in new_hotel_df.iterrows()]
locations = new_hotel_df[["latitude", "longitude"]]

In [21]:
# Add marker layer ontop of heat map and display the map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))